$desktop : 1025px;
$tablet : 768px;
$tablet-max : 1024px;
$mobile : 767px;
$mobile-small : 320px;
$fontstack :'Open Sans', sans-serif;
$fontstack2 : 'Ubuntu', sans-serif;

/*Global CSS*/
.alignleft { float: left;}
.alignright { float: right;}
.module , .module-row { width: 100%; float: left; }
img { max-width: 100%; height: auto;}

/* Make sure videos and embeds fit their containers. */
embed,
iframe,
object,
video {
	max-width: 100%;
}
/* Override the Twitter embed fixed width. */
.entry-content .twitter-tweet-rendered {
	max-width: 100% !important;
}
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*
##iconn Sometimes reqired an image for show icon.
*/
.iconn { float:left;}

/* Utility class*/
.hidden2 { display:none;}
/*
##End global css
*/
